@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    .add_post_block {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .add {
            width: 100%;
            border-radius: 3px;
            height: 40px;
            font-size: 18px;
            border: 1px solid #01010124;
            color: #010101;
            padding: 7px;
        }

        .add_text {
            height: 80px;
        }

        .add_btn {
            background: teal;
            color: #ffffff;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .posts_block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .post_item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border: 1px solid rgba(1, 1, 1, 0.1411764706);
            border-radius: 3px;
            padding: 20px;
            position: relative;

            .post_title {
                text-align: center;
            }

            .edit_btn {
                height: 30px;
                width: 30px;
                background: transparent;
                border-radius: 3px;
                border: 1px solid #01010124;
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 15px;
                background-color: #ffffff;

                img {
                    height: 20px;
                }
            }
            .edit_form{
                display: none;
            }
            .edit_form.open{
                z-index: 2;
                display: block;
                position: fixed;
                background-color: rgba(1, 1, 1, 0.7);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .edit_form_block{
                    background-color: #ffffff;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .edit_item{
                        width: 60vw;
                        border-radius: 3px;
                        height: 40px;
                        font-size: 18px;
                        border: 1px solid #01010124;
                        color: #010101;
                        padding: 7px;
                    }
                    .edit_submit_btn{
                        background: teal;
                        color: #ffffff;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}